### OS ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

### IDE ###
# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
.apt_generated/
.factorypath/
.springBeans/
.sts4-cache/

# VS Code
.vscode/

### Java ###
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

# 빌드/패키징 산출물
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle/
build/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

### Spring Boot ###
target/
# 실행용 환경 파일, 로컬 환경 파일
application-*.yml
application-*.properties
.env
*.env

### JPA / Hibernate ###
# H2 DB, Derby 등 임시 DB
*.db
*.mv.db
*.h2.db

### 업로드 / 임시파일 ###
/upload/
uploads/
temp/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 기타 IDE/플러그인 ###
cmake-build-*/
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/sonarlint/
crashlytics.properties
crashlytics-build.properties
fabric.properties
