<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
</head>
<body>
    <h1>DASHBOARD</h1>
    <p>로그인한 사용자만 볼 수 있습니다.</p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>
</body>
</html>