<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>detail</title>
</head>
<body>
    <h1>detail</h1>
    <ul>
<!--        <li th:text="${todo.getTitle()}"></li>-->
<!--        thymeleaf 자동으로 getTitle메서드를 호출-->
        <li th:text="${todo.title}"></li>
        <li th:text="${todo.content}"></li>
        <li th:text="${todo.completed ? '완료' : '미완료'}"></li>
    </ul>
    <hr>
    <a th:href="@{/todos/{id}/delete(id=${todo.id})}">delete</a><br>
    <a href="/todos">home</a><br>
    <a th:href="@{/todos/{id}/edit(id=${todo.id})}">edit</a>
</body>
</html>